* {
    box-sizing: border-box;
}


/*width for body*/

body {
    margin: 0 auto;
    width: 960px;
}


/*style for header*/

header {
    margin: 10px 0;
}


/*style for image*/

.image {
    margin: 10px;
}


/*style for nav links*/

nav {
    background-color: green;
    border-radius: 25px;
    text-align: center;
}

nav a {
    color: white;
    display: inline-block;
    font-size: 25px;
    padding: 5px 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*style for images*/

.class4 .image-gallery img {
    max-width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    width: 66%;
}

.class4 .class6 {
    float: right;
    padding: 10px;
    width: 33%;
}

section {
    clear: both;
    margin: 10px auto;
}


/*style for section*/

section .section-header {
    border: 1px solid green;
    border-left: none;
    border-right: none;
    text-align: center;
}

.class7 li {
    list-style: none;
    float: left;
    width: 20%;
}

.class8 article {
    border-bottom: 1px solid green;
}

.class8 article img {
    float: left;
    max-width: 50%;
    padding: 10px;
}


/*style for paragraph*/

p {
    display: block;
    font-size: 20px;
    padding: 10px;
}

a {
    color: green;
    text-decoration: none;
}

.class8 {
    border-right: 1px solid green;
    float: left;
    margin-top: 10px;
    width: 66%;
    padding-right: 20px;
}


/*style for aside*/

aside {
    width: 33%;
    float: right;
}

aside .sponser-ads img {
    width: 25%;
    float: right;
    padding: 10px;
}

section {
    clear: both;
    margin: 10px auto;
}

aside h3 {
    text-align: center;
}


/*style for footer*/

footer h3 {
    margin: 0;
    float: left;
    padding: 10px;
}

footer nav a {
    background-color: white;
    color: green;
    float: right;
    font-size: 20px;
    padding: 0 10px;
}


/*style for h3*/

h3 {
    color: green;
}